*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

#container{
    margin-top: 50px;
    text-align: center;
}

#container > #text > #title{
    margin-bottom: 20px;
}

#text > h1{
    color: red;
}

#text > p{
    color: green;
}
